<%= link_to program_path(program) do %>
  <h5> <%= program.name %> </h5>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <p> <%= program.main_office %> </p>
<div class="row">
  <div class="col-xs-12 text-center">
  </div>
</div>
