<h1>Who's who at <%= @program.name %></h1>

<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <p><%= user.fullname %></p>
  <% end %>
  <p><b>Field of expertise</b>: <%= user.expertise %></p>
<% end %>


