// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#heading {
  padding: 20px;
}

.card {
  border: 1px solid #222222;
  border-radius:.25rem;
  margin: 1.5rem;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-bottom:.75rem;
}

.card-subtitle {
  margin-bottom: .5rem!important;
  margin-top: -.375rem;
  color: #636c72!important;
}

