<%= link_to program_project_path(@program, project) do %>
  <h5> <%= project.name %> </h5>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <p> <%= project.main_office %> </p>
<div class="row">
  <div class="col-xs-12 text-center">
  </div>
</div>
