<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<h2><%= @project.name %></h2>
<p><%= @project.area_of_work %></p>

<%= link_to "all projects of #{@project.program.name}", program_path(@project.program) %> |
<%=  link_to "edit",  edit_program_project_path(@program, @project) %>
